<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vombit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id='about' class="container">
        <h1>{{ description['about_title'] }}</h1>
        
        <div class="about-content">
            <div class="text-container">
                <p>{{ description['about_text'] }}</p>
                <p>{{ description['about_text2'] }}</p>
                <div class="icons">
                    <a class='link' href="https://t.me/Vombit" target="_blank"><img class="icon animation_compressing" src="static\images\icons\telegram.svg" alt="telegram"></a>
                    <a class='link' href="https://github.com/Vombit" target="_blank"><img class="icon animation_compressing" src="static\images\icons\github.svg" alt="Github"></a>
                    <a class='link' href="mailto:vombit@proton.me" target="_blank"><img class="icon animation_compressing" src="static\images\icons\email.svg" alt="Email"></a>
                </div>
            </div>
            <div class="logo-container">
                <img src="static/images/0.png" alt="Мой логотип" class="logo">
            </div>
        </div>
        <p>{{ description['sub_text'] }}</p>
    </div>
    <div id='project' class="container">
        <h1>Projects</h1>
        <h3>{{ description['project_text'] }}</h3>
        <div class="projects">
            {% for project in projects %}
                <div class="project">
                    <img src="static/images/{{project['image']}}">
                    <div class="description">
                        <h2>{{ project['title'] }}</h2>
                        <div class="sub">{{ project['description'] }}</div>
                        <div class="links">
                            {% for icon in project['icons'] %}
                                <img class="icon" src="static\images\icons\{{ icon }}.svg" title="{{ icon }}">
                            {% endfor %}
                            {% if project['github_link'] %}
                            <a class="link animation_compressing" href="{{ project['github_link'] }}" alt="Посетить Github" target="_blank"><img class="icon" src="static\images\icons\github.svg"></a>
                            {% endif %}
                            <img class="icon animation_compressing" src="static\images\icons\more.svg" title="Больше" onclick="openPopup('{{ project['title'] }}', '{{ project['popup_description'] }}', {{ project['packages'] }})">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div id="popup" class="popup">
        <div class="popup-content">
            <img class="icon animation_compressing" src="static\images\icons\close.svg" title="Закрыть" onclick="closePopup()">
            <h2 id="popup-title"></h2>
            <p id="popup-description"></p>
            <h3>Dependencies:</h3>
            <ul id="popup-dependencies"></ul>
        </div>
    </div>
    <footer>Copyright © Vombit 2023-2024</footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>