<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vombit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id='about' class="container">
        <h1>Обо мне</h1>
        <div class="about-content">
            <div class="text-container">
                <p>Привет! Я разработчик с опытом в Python, JavaScript и SQL. Моя страсть к кодированию вдохновляет меня на поиск новых решений и возможностей. Мое вдохновение – создание уникальных проектов. Тут вы можете ознакомиться с некоторыми из моих проектов.</p>
                <p>Давайте вместе создадим что-то удивительное!</p>
                <div class="icons">
                    <a class='link' href="https://t.me/Vombit" target="_blank"><img class="icon animation_compressing" src="static\images\icons\telegram.svg" alt="telegram"></a>
                    <a class='link' href="https://github.com/Vombit" target="_blank"><img class="icon animation_compressing" src="static\images\icons\github.svg" alt="Github"></a>
                    <a class='link' href="mailto:vombit@proton.me" target="_blank"><img class="icon animation_compressing" src="static\images\icons\email.svg" alt="Email"></a>
                </div>
            </div>
            <div class="logo-container">
                <img src="static/images/0.png" alt="Мой логотип" class="logo">
            </div>
        </div>
        <p>Так же двукратный призер регионального чемпионата WorldSkills (2021-2022) по компетенции "Интернет вещей (IoT)".</p>
    </div>
    <div id='project' class="container">
        <h1>Проекты</h1>
        <h3>Ознакомьтесь моими проектами проектами!</h3>
        <div class="projects">
            {% for project in projects %}
                <div class="project">
                    <img src="static/images/{{project['image']}}">
                    <div class="description">
                        <h2>{{ project['title'] }}</h2>
                        <div class="sub">{{ project['description'] }}</div>
                        <div class="links">
                            {% for icon in project['icons'] %}
                                <img class="icon" src="static\images\icons\{{ icon }}.svg" title="{{ icon }}">
                            {% endfor %}
                            <a class="link animation_compressing" href="{{ project['github_link'] }}" alt="Посетить Github" target="_blank"><img class="icon" src="static\images\icons\github.svg"></a>
                            <!--<img class="icon animation_compressing" src="static\images\icons\more.svg" title="Больше">-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>Copyright © Vombit 2023</footer>
</body>
</html>